In [ ]:
# https://leetcode.com/problems/employee-bonus/

"""
SELECT e.name, b.bonus
FROM Employee e 
LEFT JOIN Bonus b
ON e.empId = b.empId
WHERE b.bonus < 1000 OR b.bonus IS NULL;
"""

In [ ]:
# https://leetcode.com/problems/game-play-analysis-i/submissions/1629984989/

"""
SELECT player_id, min(event_date) as first_login
FROM Activity
GROUP BY player_id
ORDER BY player_id;
"""

In [ ]:
# https://leetcode.com/problems/rising-temperature/

"""
select w1.id 
from Weather w1
left join Weather w2
on w1.recordDate = w2.recordDate + INTERVAL '1 day'
where w1.temperature > w2.temperature;
"""

In [ ]:
# https://leetcode.com/problems/delete-duplicate-emails

"""
DELETE FROM Person p1
USING Person p2 
WHERE p1.email = p2.email
AND p1.id > p2.id;
"""

In [ ]:
# https://leetcode.com/problems/customers-who-never-order/

"""
SELECT c.name as Customers
FROM Customers c LEFT JOIN Orders o ON c.id = o.customerId
WHERE o.id IS NULL;
"""

In [ ]:
# https://leetcode.com/problems/second-highest-salary/

"""
select max(salary) as SecondHighestSalary
from Employee
where salary < (select max(salary) from Employee)
"""

In [ ]:
# https://leetcode.com/problems/employees-earning-more-than-their-manage

"""
SELECT e.name Employee
FROM Employee e
LEFT JOIN Employee m
ON e.managerId = m.id
WHERE e.managerId IS NOT NULL
AND e.salary > m.salary;
"""

In [ ]:
# https://leetcode.com/problems/duplicate-emails/

"""
postgresql []
SELECT email
FROM Person
GROUP BY email
HAVING count(*) > 1;
"""

In [ ]:
# https://leetcode.com/problems/combine-two-tables/

"""
SELECT p.firstName, p.lastName, a.city, a.state
FROM Person p
LEFT JOIN Address a
ON p.personId = a.personId
"""